export HA_URL="https://home-assistant.just-a-lab.duckdns.org/"
export KAMERPLANTER_URL="http://localhost:3000"

export HA_MCP_TOKEN=$(pass network/homeassistant/api/token-mcp )
export KAMERPLANTER_API_KEY=$(pass network/kamerplanter/api/token-mcp )